<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather API</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>EL</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/services/" target="_blank">Services</a>
        <a href="/blogs/" target="_blank">Blog</a>
      </nav>
      <form action="">
        <input type="text" placeholder="Search here..." />
      </form>
    </header>
    <div class="container">
      <h1>Weather API</h1>
      <p>URL Format: http://127.0.1:5000/api/v1/station/date</p>
      <p>URL Format: http://127.0.1:5000/api/v1/10/19881025</p>
    </div>
   
  </body>
</html>
